body {
    width: 100%;
    background-color: #996504;
    margin: 0px;
}

p, a {
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}


.logo {
    width: auto;
    height: auto;
}

header {
    height: 10vh;
    width: 97%;
    display: flex;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
}

h1 {
    margin-top: auto;
    padding-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

article {
    margin: 0px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main_area p {
    text-align: center;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
}

#main_area h1 {
    color: white;
}

.bold {
    font-weight: bold;
}

button {
    background-color: #996504;
    width: 250px;
    height: 50px;
    margin-bottom: auto;
    margin-top: auto;
    border: 0px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: large;
}


#big {
    display: none;
}

hr {
    margin: 15%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_area {
    background-image: url(img/placeBck.jpg);
    background-size: cover;
    background-position: center;
    height: 85vh;
    padding: 0px;
}
#e {
    display: grid;
    grid-template-columns: auto auto;
}

footer img {
    width: 250px;
}

footer {
    color: white;
    background-color: #131313;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    #main_area {
        align-items: start;
    }

    #big {
        display: contents;
    }

    #small {
        display: none;
    }

    #hack {
        padding-right: 30%;
        padding-left: 5%;
    }

    #main_area p {
        text-align: start;
        width: 40vw;
    }

    button {
       margin-left: 10%;
    }

    #main_area h1 {
        margin-left: 10%;
    }
}